<link rel="stylesheet" href="https://static.figma.com/api/figma-extension-api-0.0.1.css">
<h2>Your Screen</h2>
<p>Screen Width in px: <input id="screenWidthPx"></p>
<p>Screen Width in cm: <input id="screenWidthCm"></p>
</br>
<h2>Target Screen</h2>
<p>Screen Width in  px: <input id="targetWidthPx" ></p>
<p>Screen Width in  cm: <input id="targetWidthCm" ></p>
<p><button id="create">Zoom</button><button id="cancel">Cancel</button></p>
<script>

document.getElementById('create').onclick = () => {
  const textbox = document.getElementById('screenWidthPx');
  const textbox2 = document.getElementById('screenWidthCm');
  const textbox3 = document.getElementById('targetWidthPx');
  const textbox4 = document.getElementById('targetWidthCm');
  const screenWidthPx = parseInt(textbox.value);
  const screenWidthCm = parseInt(textbox2.value);
  const targetWidthPx = parseInt(textbox3.value);
  const targetWidthCm = parseInt(textbox4.value);
  parent.postMessage({ pluginMessage: { type: 'zoom-to-real', screenWidthPx, screenWidthCm, targetWidthPx, targetWidthCm} }, '*')
  
}

document.getElementById('cancel').onclick = () => {
  parent.postMessage({ pluginMessage: { type: 'cancel' } }, '*')
}

</script>
